<div id="<%= dom_id book %>" class="border rounded my-5 p-5">
  <div class="row">
    <div class="col-4">
      <p class="text-muted display-6">
        <%= book.author %>
      </p>
    </div>

    <div class="col">
      <p class="text-success mb-4">
        <%= book.overview %>
      </p>
      <small>
        <span class="text-muted">Created</span> <%= time_ago_in_words book.created_at %> ago
      </small>
    </div>
  </div>
</div>
